<!DOCTYPE html>
<html>

{% load static %}
	<head>
		<meta charset="UTF-8">
		<meta name="author" conten="Roksana Barańska">
		<meta name="keywords" content="paznokcie, hybrydy, żele, chełmno, grudziądz">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name= "description" conent="Paznokcie, o których marzysz? Nails Sandra zaprasza." >
		<title>Nails Sandra</title>
		
		<link rel="stylesheet" href=" /static/media/style.css"/>
		<link rel="stylesheet" href=" /static/media/css/fontello.css"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Tangerine:wght@700&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<header>
				<nav>
					
					<div id= "name">Nails Sandra</div>
					
					<div id="menu">
					<ul>
						 <li><button class="icon-doc-text" onclick= "location.href= '/offers/'"> </button></li>
						<li><button class="icon-tags" onclick= "location.href= '/reservation/'">  </li> </button>
						<li><button class="icon-user" onclick= "location.href= '/aboutme/'"> </li> </button>
						<li><button class="icon-picture" onclick= "location.href= '/gallery/'"> </li> </button>
					</ul>
					</div>
					
				</nav>
		</header>
		
		<main>
			<div id="content">
			
				<div class="logo">
				</div>
				
				<br/> <br/>
				
				<section>
					<button class="option" onclick= "location.href= '/offers/'">Oferta</button>	
				</section>
				
				<br/> <br/>
				
				<section>
					<button class="option" onclick= "location.href= '/reservation/'">Rezerwacje</button>
				</section>
				
				<br/> <br/>
				
				<section>
					<button class="option" onclick= "location.href= '/aboutme/'">O mnie</button>
				</section>
				
				<br/> <br/>
				
				<section>
				<button class="option" onclick= "location.href= '/gallery/'">Galeria</button>
				</section>
			
			</div>
		</main>
		
		<footer >
		<div class="container"> 
			<button class="fb"><i class="icon-facebook-squared"></i></button>
			<button class="ig"><i class="icon-instagram"></i></button>
			</div>
		</footer>
		
	</body>
	
	</html>